[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/DirectXTK12"]
	path = External/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
