[submodule "External/DirectXTK12"]
	path = External/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "Reference/Quake"]
	path = Reference/Quake
	url = https://github.com/id-Software/Quake.git
[submodule "Reference/UnityCsReference"]
	path = Reference/UnityCsReference
	url = https://github.com/Unity-Technologies/UnityCsReference.git
